@import './markdown.css';
* {
  box-sizing: border-box;
}
@font-face {
  font-family: 'Formula1-Bold';
  src: url('https://www.formula1.com/etc/designs/fom-website/fonts/F1Bold/Formula1-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Formula1-Wide';
  src: url('https://www.formula1.com/etc/designs/fom-website/fonts/F1Wide/Formula1-Wide.ttf') format('truetype');
}
html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
  color-scheme: dark;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: rgb(13,148,136);
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
.icon-btn:hover{
  color: rgba(180,0,0,var(--un-text-opacity))!important;
}
